:root {
    --orange: #CB4E0B;
    --orange-hover: #EA580C;
    --box-shadow: 0.125rem 0.125rem 0.5rem #D6E2EF;
    --border-bottom: 0.1875rem solid #CB4E0B;
    --border-left: 0.3125rem solid #CB4E0B;
    --margin-bottom: 2rem;
    --btn-border: 1px solid #C1C4C8;
    --btn-border-radius: 0.5rem;
}

body {
    background-color: #F2F6FA;
    font-family: "Noto Sans Bhaiksuki", sans-serif;
}

.container {
    margin: 3rem auto;
    padding: 0 1rem;
}

h2 {
    font-size: 1.75rem;
    border-left: var(--border-left);
    padding-left: 0.25rem;
    border-bottom: var(--border-bottom);
    max-width: max-content;
    margin-bottom: 1.5rem;
}

p {
    font-weight: 500;
    margin-bottom: 1rem;
}

span {
    margin-right: 1rem;
}

legend {
    padding: 0;
    margin-bottom: var(--btn-border-radius);
}

form {
    background-color: #FFF;
    padding: 2rem 1rem;
}

form label:not(input[type="radio"] + label, input[type="checkbox"] + label) {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    line-height: 1.5;
}

form input:not([type="radio"], [type="checkbox"], [type="submit"]),
select,
textarea {
    border: var(--btn-border);
    border-radius: var(--btn-border-radius);
    height: 3.25rem;
    padding: 0.75rem 1rem;
    width: 100%;
    margin-bottom: var(--margin-bottom);
}

fieldset label:has(input[type="radio"]:checked) {
    background-color: var(--orange);
    color: #FFF;
    accent-color: var(--orange);
}

textarea {
    min-height: 12.5rem;
    resize: vertical;
}

fieldset {
    border: none;
    padding: 0;
    margin-bottom: 1.5rem;
}

fieldset div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

fieldset label {
    padding: 0.75rem 1rem;
    border: var(--btn-border);
    border-radius: var(--btn-border-radius);
    cursor: pointer;
    flex-grow: 1;
    flex-basis: calc((37rem - 100%) * 999);
    min-inline-size: min(100%, max-content);
    max-inline-size: 100%;
    text-align: center;
    white-space: nowrap;
}

input[type="submit"] {
    background-color: var(--orange);
    border: none;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    padding: .75rem;
    width: 100%;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: var(--orange-hover);
    box-shadow: var(--box-shadow);
}

.inner-header-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    div,
    img {
        flex-grow: 1;
        flex-basis: calc((700px - 100%) * 999);
        min-inline-size: min(100%, 18.75rem);
        max-inline-size: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        display: flex;
        gap: 2.5rem;
    }

    header {
        flex: 0 0 31.25rem;
    }

    form {
        flex-basis: 0;
        flex-grow: 999;
        min-inline-size: 37.25rem;
    }
}

@media (min-width: 1660px) {
    .container {
        justify-content: center;
        padding: 0;
        max-width: 1560px;
    }
}